In [ ]:
#Initializing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
data = pd.read_csv('/content/diabetes.csv')

In [ ]:
#Loading Dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

# 3. Understanding the dataset

In [ ]:
data.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [ ]:
data.tail()

     Pregnancies  Glucose  ...  Age  Outcome
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[5 rows x 9 columns]

In [ ]:
data.describe

<bound method NDFrame.describe of      Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]>

In [ ]:
data.shape

(768, 9)

In [ ]:
corr = data.corr()
print(corr)

                          Pregnancies   Glucose  ...       Age   Outcome
Pregnancies                  1.000000  0.129459  ...  0.544341  0.221898
Glucose                      0.129459  1.000000  ...  0.263514  0.466581
BloodPressure                0.141282  0.152590  ...  0.239528  0.065068
SkinThickness               -0.081672  0.057328  ... -0.113970  0.074752
Insulin                     -0.073535  0.331357  ... -0.042163  0.130548
BMI                          0.017683  0.221071  ...  0.036242  0.292695
DiabetesPedigreeFunction    -0.033523  0.137337  ...  0.033561  0.173844
Age                          0.544341  0.263514  ...  1.000000  0.238356
Outcome                      0.221898  0.466581  ...  0.238356  1.000000

[9 rows x 9 columns]

In [ ]:
print(data.mean())

Pregnancies                   3.845052
Glucose                     120.894531
BloodPressure                69.105469
SkinThickness                20.536458
Insulin                      79.799479
BMI                          31.992578
DiabetesPedigreeFunction      0.471876
Age                          33.240885
Outcome                       0.348958
dtype: float64

In [ ]:
print(data.std())

Pregnancies                   3.369578
Glucose                      31.972618
BloodPressure                19.355807
SkinThickness                15.952218
Insulin                     115.244002
BMI                           7.884160
DiabetesPedigreeFunction      0.331329
Age                          11.760232
Outcome                       0.476951
dtype: float64

In [ ]:
data['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

# 4. Labelling the data

In [ ]:
X = data.drop('Outcome', axis=1)
y = data['Outcome']

# 5. Splitting the train data and test data

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [ ]:
print(X_train)

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
124            0      113             76  ...  33.3                     0.278   23
665            1      112             80  ...  34.8                     0.217   24
537            0       57             60  ...  21.7                     0.735   67
367            0      101             64  ...  21.0                     0.252   21
664            6      115             60  ...  33.7                     0.245   40
..           ...      ...            ...  ...   ...                       ...  ...
545            8      186             90  ...  34.5                     0.423   37
304            3      150             76  ...  21.0                     0.207   37
179            5      130             82  ...  39.1                     0.956   37
635           13      104             72  ...  31.2                     0.465   38
12            10      139             80  ...  27.1                     1.441   57

[614 rows x 8 columns]

In [ ]:
print(y_train)

124    1
665    0
537    0
367    0
664    1
      ..
545    1
304    0
179    1
635    1
12     0
Name: Outcome, Length: 614, dtype: int64

In [ ]:
print(X_test)

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
337            5      115             76  ...  31.2                     0.343   44
488            4       99             72  ...  25.6                     0.294   28
708            9      164             78  ...  32.8                     0.148   45
621            2       92             76  ...  24.2                     1.698   28
333           12      106             80  ...  23.6                     0.137   44
..           ...      ...            ...  ...   ...                       ...  ...
586            8      143             66  ...  34.9                     0.129   41
707            2      127             46  ...  34.4                     0.176   22
467            0       97             64  ...  36.8                     0.600   25
356            1      125             50  ...  33.3                     0.962   28
532            1       86             66  ...  41.3                     0.917   29

[154 rows x 8 columns]

In [ ]:
print(y_test)

337    1
488    0
708    1
621    0
333    0
      ..
586    1
707    0
467    0
356    1
532    0
Name: Outcome, Length: 154, dtype: int64

# 6. Running algorithms

1. Let us run Logistic Regression on the dataset.

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
data_Check = LogisticRegression()
data_Check.fit(X_train, y_train)
y_pred = data_Check.predict(X_test)
correct = (y_pred == y_test).sum()
accuracy = correct/len(y_test)*100
print("accuracy = ", accuracy, "%")

accuracy =  77.92207792207793 %

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

2. Let us check with Clasification Decison Tree

In [ ]:
from sklearn.tree import DecisionTreeClassifier
data_classifier = DecisionTreeClassifier()
data_classifier.fit(X_train, y_train)
y_pred = data_classifier.predict(X_test)


correct = (y_pred==y_test).sum()
accuracy = correct/len(y_test)*100
print("accuracy = ", accuracy, "%")

accuracy =  71.42857142857143 %

3. Let us check with Support Vector Machine

In [ ]:
from sklearn.svm import SVC
svclassifier = SVC(kernel='linear')
svclassifier.fit(X, y)

y_pred = svclassifier.predict(X)
correct = (y_pred==y).sum()
accuracy = correct/len(y)*100
print("accuracy = ", accuracy, "%")

accuracy =  77.734375 %

4. Let us check with Naive Bayes

In [ ]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X, y)
y_pred = gnb.predict(X)
correct = (y_pred==y).sum()
accuracy = correct/len(y)*100
print("accuracy = ", accuracy, "%")

accuracy =  76.30208333333334 %

In [ ]:
class Students:
     def __init__(self,a="Cmrit"):
         self.a=a

     def display(self):
         print(self.a)
obj=Students()
obj.display()

Cmrit

In [ ]:
class test:
     def __init__(self,a):
         self.a=a

     def display(self):
         print(self.a)
obj=test("Hello")
obj.display()

Hello